html{
    box-sizing: border-box;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.quadro {
    display: flex;
}
body{
    align-items: center;
    background: linear-gradient(320deg, #63c9b4, #ffef78, #63c9b4);
    display: flex;
    font-family: 'dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}
#resultado {
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
        background: rgba(255, 255, 255, 0.75);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        color:  #232323;
        font-size: 20px;
        overflow: auto;
        padding:  10px;
        text-align: center;
        width: 70%;
        margin: 10px;
        align-items: center;
        justify-content: center;  
}
.quadro .botao {
    display: flex;
    justify-content: center;
    padding-top: 20px ;
}
#send {

    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:  14px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    
    font-family: inherit;
    font-size: 20px;
    height: 30px;
    width: 150px;
    
    
}
#send:hover {
    background-color: #8fcfc3;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
#send:active {
    background-color: #63c9b4;
}
#gasolina {
    margin: 0.625rem;
    width: 10%;

}
#etanol {
    margin: 0.625rem;
    width: 10%;
}
form {
    display: flex;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
   
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
    flex-direction: column;
}
p {
    text-align: center;
}
#kminicial  {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    color:  #232323;
    font-size: 20px;
    overflow: auto;
    padding:  10px;
    text-align: center;
    width: 86%;
    margin: 10px;
}
#kmfinal {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    color:  #232323;
    font-size: 20px;
    overflow: auto;
    padding:  10px;
    text-align: center;
    width: 86%;
    margin: 10px;
}
#historico1{
    background-color: #8fcfc3;
}
