html{
    box-sizing: border-box;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.quadro {
    display: flex;
}
body{
    align-items: center;
    /**background: linear-gradient(320deg, #63c9b4, #ffef78, #63c9b4);**/
    background-color: rgb(16, 29, 64);
    display: flex;
    font-family: 'dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
    background: -webkit-linear-gradient(90deg, #145ac0,#0056a5,#004e88,#004469,#05394c);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #145ac0,#0056a5,#004e88,#004469,#05394c);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
}
#resultado {
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
        background: rgba(255, 255, 255, 0.75);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
        color:  #232323;
        font-size: 20px;
        overflow: auto;
        padding:  10px;
        text-align: center;
        width: 70%;
        margin: 10px;
        align-items: center;
        justify-content: center;  
}
.quadro .botao {
    display: flex;
    justify-content: center;
    padding-top: 20px ;
}
#send {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:  5px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-family: inherit;
    font-size: 20px;
    height: 30px;
    width: 150px;    
}
#send:hover {
    background-color: #0acc14;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: aliceblue;
}
#send:active {
    background-color: #63c9b4;
}
#gasolina {
    margin: 0.625rem;
    width: 10%;

}
#etanol {
    margin: 0.625rem;
    width: 10%;
}
form {
    display: flex;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
   
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
    flex-direction: column;
}
p {
    text-align: center;
}
#kminicial  {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.34);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.34);
    color:  #232323;
    font-size: 20px;
    overflow: auto;
    padding:  10px;
    text-align: center;
    width: 86%;
    margin: 10px;
}
#kmfinal {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.34);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.34);
    color:  #232323;
    font-size: 20px;
    overflow: auto;
    padding:  10px;
    text-align: center;
    width: 86%;
    margin: 10px;
}
#historico1, #litros, #kmrodado, #kmporlitro {
    background-color: #8fcfc3;
}
.fundotipodecombustivel{
    width: 86%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.281);
    border: 1px solid rgba(255, 255, 255, 0.34);
}
.saida{
    margin-left: 20px;
}
[role="dialog"] {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    min-height: 100vh;
  }
  .hidden {
    display: none;
  }
  @media screen and (min-width: 640px) {
    [role="dialog"] {
      position: absolute;
      top: 11rem;
      left: 50vw; /* Center on screen */
      transform: translateX(50%); /* Adjust for width */
      min-width: calc(640px - (105px * 2)); /* Subtract margins */
      min-height: auto;
      box-shadow: 
        0 19px 38px rgba(0, 0, 0, 0.12), 
        0 15px 12px rgba(0, 0, 0, 0.22);
    }
  }
  .dialog_close_button {
    float: right;
    position: absolute;
    top: 10px;
    left: 92%;
    height: 25px;
  }
  .dialog-backdrop {
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  
  @media screen and (min-width: 640px) {
    .dialog-backdrop {
      background: rgba(0, 0, 0, 0.3);
    }
  } 
  .dialog-backdrop.active {
    display: block;
  }
